#map{
    height: 400px;
}

body{
    background-color: rgb(36, 40, 47);
}

.back{
    transition: 0.4s all;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    color: white;
    font-family: Courier New;
}

.back:hover{
    transition: 0.4s all;
    text-decoration: underline;
    color: rgb(255, 180, 41);
}

.boite 
{
  border: 10px solid black;
  text-align: center;
  background-color: whitesmoke;
  
}
.titre {
color: white
}

h1 {
    font-family: Courier New;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: rgb(12, 12, 12);
    margin-left: 15px;
    margin-right: 15px;
}

.biggyboxe {
    flex-wrap: wrap;
    display: inline-flex;
    border: 1px solid black;
    text-align: justify;
    margin-left: 50px; /* Marge extérieure de 50px */
    margin-right: 50px;
    margin-top: 20px;
    background-color: rgb(255, 180, 41);
 z-index: 999;
     padding-top: 4%;
     padding-bottom: 4%;
     padding-left:2%;
     padding-right: 2%;
     top: 1px;
     border-radius: 10px;
}
.photo {
    align-self: center;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    border: 10px solid black;
    background-color: grey;
    border-radius: 15px;
}
.box {
    margin: 0 auto;
    margin-top: 20px;
    width: auto;
    text-align: center;
    border: 10px solid black;
    background-color: grey;
    border-radius: 15px;
}